<div class="card-container">
    <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title> Registrar usuario</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form class="form-custom" [formGroup]="formRegistro" (ngSubmit)="registrarse()" autocomplete="on">
            <mat-form-field class="input-custom">
              <mat-label>Usuario</mat-label>
              <input matInput formControlName="username" autocomplete="username">
            </mat-form-field>
            
            <mat-form-field class="input-custom">
              <mat-label>Contraseña</mat-label>
              <input matInput formControlName="password" type="password" autocomplete="current-password">
            </mat-form-field>
            
            
          <div class="flex">
            <button type="submit" mat-flat-button color="primary">Registrarse</button>
            <button type="button" mat-flat-button color="warn" (click)="volver()">Volver</button>        
          </div>

        </form>
      </mat-card-content>
    </mat-card>
</div>