.card-container {
    margin: auto;
    width: 70%;
    margin-top: 100px;
}

.logout-btn {
    position: fixed; /* Para que se quede fijo en la esquina */
    top: 10px;
    right: 10px;
    color: red; /* Color rojo para el texto */
    font-weight: bold; /* Opcional: puedes agregar un poco de negrita si lo deseas */
    background: transparent; /* Fondo transparente */
    border: none; /* Sin borde */
    padding: 8px 12px; /* Un poco de espacio alrededor del texto */
    cursor: pointer; /* Cambia el cursor a puntero */
    font-size: 16px; /* Tamaño del texto */
  }